<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Basic -->

<head th:replace="fragment :: head">

<body>
    <div th:replace="fragment :: top"></div>
    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Cart</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="list-product">Cửa hàng</a></li>
                        <li class="breadcrumb-item active">Đơn hàng</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start Cart  -->
    <div class="cart-box-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-main table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Mã đơn hàng</th>
                                    <th>Người nhận</th>
                                    <th>Số điện thoại</th>
                                    <th>Địa chỉ</th>
                                    <th>Voucher</th>
                                    <th>Tổng tiền</th>
                                    <th>TTGH</th>
                                    <th>TT thanh toán</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody th:each="item : ${orders}">
                                <tr>
                                    <td>
                                        <p style="" th:text="${item.orderCode}"></p>
                                    </td>
                                    <td>
                                       <p th:text="${item.deliveryAddress.fullName}"></p>
                                    </td>
                                    <td>
                                        <p th:text="${item.deliveryAddress.cellphone}">Price</p>
                                    </td>
                                    <td>
                                        <p th:title="${item.deliveryAddress.specificAddress}+', '+${item.deliveryAddress.town}+', '+${item.deliveryAddress.district}+', '+${item.deliveryAddress.province}"
                                           style="display: block;width: 100px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">
                                            <span th:text="${item.deliveryAddress.specificAddress}"></span>
                                            <span>, </span>
                                            <span th:text="${item.deliveryAddress.town}"></span>
                                            <span>, </span>
                                            <span th:text="${item.deliveryAddress.district}"></span>
                                            <span>, </span>
                                            <span th:text="${item.deliveryAddress.province}"></span>
                                        </p>
                                    <td>
                                        <p th:text="${item.voucher == null} ? 'Trống' : ${item.voucher.codeVoucher}"></p>
                                    </td>
                                    <td th:each="po : ${item.paymentOrders}">
                                        <p><span th:text="${po.totalPaid}"></span><span> VND</span></p>
                                    </td>
                                    <td>
                                        <p class="total-pr" th:text="${item.orderStatus}"></p>
                                    </td>
                                    <td th:each="po : ${item.paymentOrders}">
                                        <p class="total-pr" th:text="${po.status}"></p>
                                    </td>
                                    <td>
                                        <a class="btn hvr-hover" style="color:white;"
                                           th:href="@{'/order-detail?orderId=' + ${item.id}}">Xem chi tiết
								        </a>
                                        <a style="margin-left:10px;color:white;" class="btn hvr-hover" th:text="${#strings.equals(item.orderStatus, 'Chờ')} ? 'Hủy' : 'Mua sắm tiếp'"
                                           th:href="${#strings.equals(item.orderStatus, 'Chờ')} ? @{'/order/cancel?orderId=' + ${item.id}} : @{/list-product}">
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div th:if="${#lists.isEmpty(orders)}">
                            <h3>Không tìm thấy kết quả nào.</h3>
                        </div>
                    </div>
                    <div style="margin-top:5px;" th:if="${message != null}" class="alert alert-success text-center">[[${message}]]</div>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li th:class="${page>1} ? 'page-item' : 'page-item disabled'">
                                <a class="page-link" th:href="${page>1} ? @{'/order?page=' + ${page - 1} + '&sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&categoryId=' + ${categoryId}} : ''" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li th:each="i : ${#numbers.sequence(1, totalPages)}" th:class="${i == page} ? 'page-item active' : 'page-item'">
                                <a class="page-link" th:href="${i!=page} ? @{'/order?page=' + ${i} + '&sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&categoryId=' + ${categoryId}} : ''">[[${i}]]</a>
                            </li>
                            <li th:class="${page<totalPages} ? 'page-item' : 'page-item disabled'">
                                <a class="page-link" th:href="@{'/order?page=' + ${page + 1} + '&sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&categoryId=' + ${categoryId}}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- End Cart -->

    <div th:replace="fragment :: instagramFeed" th:remove="tag"></div>
    <footer>
        <div th:replace="fragment :: footer" th:remove="tag"></div>
    </footer>
    <div th:replace="fragment :: copyright" th:remove="tag"></div>
    <a th:replace="fragment :: backToTop" th:remove="tag"></a>
    <div th:replace="fragment :: finalScript" th:remove="tag"></div>
    <script type="text/javascript">
        contextPath = "[[@{/}]]";
    </script>
</body>

</html>