<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Basic -->

<head th:replace="fragment :: head">

<body>
<div th:replace="fragment :: top"></div>
<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Thông tin tài khoản</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="account">Tài khoản</a></li>
                    <li class="breadcrumb-item active">ĐỊA CHỈ</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div align="center">
    <br>
    <form class="form" th:action="@{'/update-address/save?addressId=' + ${address.id}}" th:object="${address}" method="post">
        <div class="text-center">
            <h2>Cập nhật địa chỉ</h2>
        </div>
        <div class="border border-secondary rounded p-3">
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Họ và tên: </label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" th:field="*{fullName}" required/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Số điện thoại: </label>
                <div class="col-sm-8">
                    <input class="form-control" type="tel" th:field="*{cellphone}" required/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Tỉnh: </label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" th:field="*{province}" required/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Huyện: </label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" th:field="*{district}" required/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Xã: </label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" th:field="*{town}"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Địa chỉ: </label>
                <div class="col-sm-8">
                    <input type="tel" class="form-control" th:field="*{specificAddress}"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Loại địa chỉ: </label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" th:field="*{typeAddress}"/>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-12">
                    <button style="height: 37px; padding: 0px 20px; font-weight: 700; color: #ffffff; border: none;" class="btn hvr-hover" type="submit">Cập nhật</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div th:replace="fragment :: instagramFeed" th:remove="tag"></div>
<footer>
    <div th:replace="fragment :: footer" th:remove="tag"></div>
</footer>
<div th:replace="fragment :: copyright" th:remove="tag"></div>
<a th:replace="fragment :: backToTop" th:remove="tag"></a>
<div th:replace="fragment :: finalScript" th:remove="tag"></div>
</body>
</html>
<script type="text/javascript">
    $(document).ready(function(){
        $('#fileImage').change(function(){
            showImageThumbnail(this);
        });
    });

    function showImageThumbnail(fileInput){
        file = fileInput.files[0];
        reader = new FileReader();

        reader.onload = function(e){
            $('#thumbnail').attr('src', e.target.result);
        };

        reader.readAsDataURL(file);
    }
</script>